<!DOCTYPE html>
<html>
<head>
    <title>FinTrack | 💰Budget</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>💰 Budget Summary</h1>

<div class="card">

<h2>Monthly Budget</h2>

<h3>Rs. {{ budget }}</h3>

</div>

<div class="card">

<h2>Total Expenses</h2>

<h3>Rs. {{ total }}</h3>

</div>

<div class="card">

<h2>Remaining Budget</h2>

<h3>Rs. {{ remaining }}</h3>

</div>

<br>

<a href="/" class="btn">🏠 Back To Home</a>

</div>

</body>
</html>