<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTrack | 🏠Personal Expense Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Welcome to FinTrack</h1>
    <p>Your Personal Expense & Budget Planner</p>
    <br></br>
    <a href="/add_expense" class="btn">➕  Add Expense</a><br><br>
    <a href="/dashboard" class="btn">📊 Dashboard</a><br><br>
    <a href="/set_budget" class="btn">🎯Set Monthly Budget</a><br><br>
    <a href="/budget" class="btn">💰 Budget</a><br><br>
    <a href="/expenses" class="btn">📜 Expense History</a>
    </div>
</body>
</html>