<!DOCTYPE html>
<html>
<head>
    <title> FinTrack | 🎯Set Monthly Budget</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>🎯 Set Monthly Budget</h1>

<form method="POST">

<input type="number"
       name="budget"
       placeholder="Enter Monthly Budget"
       required>

<br><br>

<button type="submit">
💰 Save Budget
</button>

</form>

<br>

<a href="/" class="btn">
🏠 Back To Home
</a>

</div>

</body>
</html>